* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg-container {
  height: 100vh;
  display: flex;
}

.form-container {
  width: 550px;
  height: 100vh;
  padding: 40px;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1a171d;
}

.heading {
  color: #f3aa4e;
  font-family: 'Roboto';
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 35px;
}

.input-container {
  width: 100%;
  margin-bottom: 20px;
}

.label {
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 500;
  color: #f1f5f9;
  margin-bottom: 15px;
}

.input {
  width: 100%;
  height: 40px;
  outline: none;
  padding-left: 15px;
  border: 0px;
  margin-top: 15px;
  background-color: #f8f8f8;
  border-radius: 3px;
  color: #131213;
}

.add-button {
  width: 150px;
  height: 40px;
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 588;
  color: #f8f8f8;
  background-color: #f3aa4e;
  border: 0px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: #131213;
  padding: 15px;
  padding-top: 80px;
}

.tags-heading {
  font-family: 'Roboto';
  font-size: 25px;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 15px;
}

.ul-container {
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 8px;
  list-style-type: none;
  margin-bottom: 20px;
}

.tasks-container {
  width: 100%;
  padding-left: 8px;
  list-style-type: none;
}

.no-tasks-para1 {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-tasks-para {
  font-family: 'Roboto';
  font-size: 30px;
  font-weight: 500;
  color: #f8f8f8;
  text-align: center;
}
